# Ignore output folders
build/
output/
bin/
obj/
# Keil MDK specific files
*.axf
*.bak
*.d
*.dep
*.htm
*.htp
*.lnp
*.map
*.plg
*.uvguix.*
*.uvopt.*
*.uvproj.*
*.uvprojx.*
*.uvoptx.*
*.crf
*.sct
*.hex
*.lib
*.lnp
*.lnk
*.lst
*.o
*.obj
*.omf
*.plg
*.tra
*.uvguix.*
*.uvopt.*
*.uvproj.*
*.uvprojx.*
*.uvoptx.*
*.crf
*.sct
*.hex
*.lib
*.lnp
*.lnk
*.lst
*.o
*.obj
*.omf
*.plg
*.tra


# ignore trace files
*.psf

# cmake build files

tmp/

.vscode/
DebugConfig/

# cbuild

*cbuild*



*.log
out/rtx/Target1/ExtDll.iex
